<template>
  <div class="card" style="width: 28rem" v-if="userLogged.admin">
    <div class="card-body">
      <h5 class="card-title">Editar Usuario</h5>
      <!--div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Usuario</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="20"
          v-model="user.username"
        />
      </div-->
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Nombres</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="50"
          v-model="user.first_name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Apellidos</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="50"
          v-model="user.last_name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Password</span
        >
        <input
          type="password"
          class="form-control"
          maxlength="20"
          v-model="user.password"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Confirmar password</span
        >
        <input
          type="password"
          class="form-control"
          maxlength="20"
          v-model="user.password_confirmation"
        />
      </div>
      <a href="#" class="btn btn-danger" v-on:click="cancel">Cancelar</a>
      <a href="#" class="btn btn-primary" v-on:click="edit">Editar</a>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import shared from "../shared";
//import Swal from "sweetalert2";

export default {
  name: "Edit",
  data() {
    return {
      user: {},
    };
  },
  created() {
    this.addLog = shared.addLog; 
    this.userLogged = shared.userLogged(localStorage.getItem("token"));
  },
  methods: {
    edit: async function () {
      try {
        await axios.put("user", this.user);
        this.addLog("user", `${this.user.username} edited`, this.userLogged.id)
        this.$router.push("/users");
      } catch{
        localStorage.removeItem("token");
        window.location.href = '/login';
      }
    },
    cancel: function () {
      //this.user = {};
      //this.oldUser = {};
      this.$router.push("/users");
    },
    async getUser(id) {
      try{
      let result = await axios.get("user/" + id);
      this.user = result.data[0];
      } catch{
        localStorage.removeItem("token");
        window.location.href = '/login';
      }
    },
  },
  mounted() {
    this.getUser(this.$route.params.id);
  },
};
</script>

<style>
.card-title {
  text-align: center;
}

.btn {
  margin: 10px;
}
</style>