<template>
  <div>
    <!--p>{{ userLogged }}</p-->
    <div class="container">
      <div class="large-12 medium-12 small-12 cell">
        <div class="inputWrapper">
          <input
            type="file"
            id="file"
            ref="file"
            accept="application/pdf"
            class="inputFile"
            v-on:change="handleFileUpload()"
            value="Nuevo archivo"
          />
        </div>
        <!--button v-on:click="submitFile()">Submit</button-->
      </div>
    </div>
    <table class="table table table-dark">
      <thead>
        <tr class="table-active">
          <th scope="col">Name File</th>
          <th scope="col">Fecha-Hora</th>
          <th scope="col">User</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(registro, index) in registros" :key="index">
          <!--p>{{registro}} | {{userLogged}}</p-->
          <td v-if="userLogged.id == registro.USER_id || userLogged.admin || userLogged.username == registro.username">{{ registro.file_name }}</td>
          <td v-if="userLogged.id == registro.USER_id || userLogged.admin || userLogged.username == registro.username">{{ registro.fecha_hora }}</td>
          <td v-if="userLogged.id == registro.USER_id || userLogged.admin || userLogged.username == registro.username">{{ registro.username }}</td>
          <td v-if="userLogged.id == registro.USER_id || userLogged.admin || userLogged.username == registro.username">
            <table>
              <td>
                <!--boton borrar-->
                <a href="#" v-on:click="deleteRegistro(registro.id)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </a>
              </td>
              <td></td>
              <td>
                <!--boton descargar-->
                <a href="#" v-on:click="download(registro.file_name)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-file-earmark-arrow-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"
                    />
                    <path
                      d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
                    />
                  </svg>
                </a>
              </td>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!--div>
      <a href="#" class="btn btn-primary">Subir File</a>
    </div>

    <h3>{{ userLogged }}</h3-->
  </div>
</template>

<script>
//import { mapGetters } from "vuex";
import shared from "../shared";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Files",
  /*computed: {
    ...mapGetters(["id"]),
    ...mapGetters(["user"]),
    ...mapGetters(["admin"]),
  },*/
  data() {
    return {
      file: "",
      registros: "",
      registroToEdit: {},
      userLogged: {},
    };
  },
  async created() {
    this.addLog = shared.addLog;
    if (localStorage.getItem("token")) {
      this.userLogged = shared.userLogged(localStorage.getItem("token"));
      try {
        const response = await axios.get("registro/all", {id: this.userLogged.id});
        this.registros = response.data;
      } catch {
        localStorage.removeItem("token");
        window.location.href = "/login";
      }
    } else {
      localStorage.removeItem("token");
      window.location.href = "/login";
    }
  },
  methods: {
    async submitFile(fileName) {
      let formData = new FormData();
      let infoUser = this.userLogged;
      let all = this.registros;
      formData.append("file", this.file);
      axios
        .post("/subir", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(async function () {
          const response = await axios.get("files");
          let files = response.data;
          //console.log(files);
          let file,
            index = files.length - 1;
          for (; index >= 0; index--) {
            //console.log(files[index]);
            if (files[index].includes(fileName[0])) {
              file = files[index];
              break;
            }
          }
          var dateRegex = /\d{4}-\d{2}-\d{2}_\d{1,2}:\d{1,2}:\d{1,2}/;
          //console.log(files);
          //console.log(fileName);
          let dateTime = file.match(dateRegex)[0].replace("_", " ");
          //console.log(file);
          //console.log(dateTime);
          console.log(infoUser);
          let newFile = {
            file_name: file,
            fecha_hora: dateTime,
            username: infoUser.username,
          };
          console.log(newFile);
          all.push(newFile)
          await axios.post("/registro/add", {
            file_name: file,
            fecha_hora: dateTime,
            USER_id: infoUser.id,
          });
          shared.addLog("file", `upload ${file}`, infoUser.id);
        })
        .catch(function () {
          Swal.fire({
            icon: "error",
            text: "Error al subir archivo",
          });
        });
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      this.submitFile(this.file.name.split("."));
    },
    async deleteRegistro(id_registro) {
      let position = this.registros.findIndex((i) => i.id === id_registro);
      let registro = this.registros[position];
      Swal.fire({
        text: "¿Realmente desea borrar el archivo " + registro.file_name + " ?",
        showCancelButton: true,
        confirmButtonText: `Eliminar`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          //Swal.fire("Saved!", "", "success");
          //const response =
          axios.delete("registro/" + registro.id);
          axios.post("/registro/delete/" + registro.file_name);
          this.registros.splice(position, 1);
          this.addLog(
            "file",
            `delete ${registro.file_name}`,
            this.userLogged.id
          );
        }
      });
    },
    async download(file_name) {
      //let result=await axios.get('/files/paquetes_20210507_164038.txt');
      //console.log(result)
      axios({
        url: "http://localhost:3000/api/files/" + file_name,
        method: "GET",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        fileLink.setAttribute("download", file_name);
        document.body.appendChild(fileLink);
        fileLink.click();
        this.addLog(
            "file",
            `download ${file_name}`,
            this.userLogged.id
          );
      });
    },
  },
};
</script>
<style scoped>
.inputWrapper {
  height: 60px;
  width: 69px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background-image: url("https://www.bji.com.co/imagenes/Upload-Folder-icon.png");
  background-size: 70px 55px;
}

.inputFile {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  color: transparent;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size: 50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
</style>