<template>
  <div>
    <!--register user="u" v-if="hide"></register-->
    <table class="table table-dark">
      <thead>
        <tr class="table-active">
          <th scope="col">Tipo registro</th>
          <th scope="col">Acción</th>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(log, index) in logs" :key="index">
          <td v-if="userLogged.id == log.USER_id || userLogged.admin">{{ log.nombre_tabla }}</td>
          <td v-if="userLogged.id == log.USER_id || userLogged.admin">{{ log.tipo_operacion }}</td>
          <td v-if="userLogged.id == log.USER_id || userLogged.admin">{{ log.fecha_hora }}</td>
          <td v-if="userLogged.id == log.USER_id || userLogged.admin">{{ log.username }}</td>
        </tr>
      </tbody>
    </table>
    <!--h3>{{ users }}</h3-->
  </div>
</template>

<script>
//import { mapGetters } from "vuex";
import shared from "../shared";
import axios from "axios";

export default {
  name: "Log",
  data() {
    return {
      logs: [],
    };
  },
  async created() {
    if (localStorage.getItem("token")) {
      const response = await axios.get("logs/all");
      this.logs = response.data;
      this.userLogged = shared.userLogged(localStorage.getItem("token"));
    } else {
      localStorage.removeItem("token");
      /*this.$store.dispatch("user", "");
      this.$store.dispatch("admin", false);
      this.$router.push("/login");*/
    }
  },
  /*computed: {
    ...mapGetters(["admin"]),
  },*/
};
</script>