<template>
<body class="div_centrado">
  <div class="card-body" style="width: 18rem;" id="contenedor_centrado">
    <div class="card-body text-center">
      <h5 class="card-title">Inicio de sesión</h5>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Usuario</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="20"
          v-model="username"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Password</span
        >
        <input
          type="password"
          class="form-control"
          maxlength="20"
          v-model="password"
        />
      </div>
      <a href="#" class="btn btn-warning" v-on:click="login" style="text-align:center"
      >Validar</a>
    </div>
  </div>
</body>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import shared from "../shared";

export default {
  name: "Login",
  data() {
    return {
      username: "admin",
      password: "S0p0rt3.",
      userLogged: {},
    };
  },
  methods: {
    login: async function () {
      try {
        const response = await axios.post("user/login", {
          username: this.username,
          password: this.password,
        });
        localStorage.setItem("token", response.data.token);
        this.userLogged = shared.userLogged(localStorage.getItem("token"));
        console.log(this.userLogged)
        
        //this.userLogged = this.parseJwt(localStorage.getItem("token")).user;
        //console.log(localStorage.getItem("token"));
        //console.log(this.userLogged);
        
        this.addLog("user", `login from ${this.userLogged.full_name}`, this.userLogged.id);
        /*this.$store.dispatch("user", response.data.user.full_name);
        this.$store.dispatch("admin", response.data.user.admin);
        this.$store.dispatch("id", response.data.user.id);*/
        //console.log()
        //this.$router.push("/");
        window.location.href = '/';
      } catch (e) {
        Swal.fire("", "¿Estás segudo con tus credenciales?", "question");
      }
    },
  },
  created() {
    this.addLog = shared.addLog;
    this.sleep = shared.sleep;
  },
};
</script>

<style>
.card-title {
  text-align: center;
}

body{
  background-image: url("https://i.pinimg.com/originals/c6/85/cd/c685cdf7acb8e21235e48ebadbbfcdcf.jpg");
  background-size:  1375px 750px;
}

#contenedor_centrado {

position:absolute;
top: 50%;
left: 65%;
height:400px;
width:800px;
margin-top:-100px; margin-left:-300px; 
}

</style>