<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <!--h1>{{ userLogged }}</h1-->
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" v-if="userLogged.full_name">
            <router-link to="/" class="btn btn-primary"
              >Inicio</router-link
            >
          </li>
          <li class="nav-item" v-if="userLogged.admin">
            <router-link to="/users" class="btn btn-info">Usuarios</router-link>
          </li>
          <li class="nav-item" v-if="userLogged.full_name">
            <router-link to="/logs" class="btn btn-danger"
              >Bitácora</router-link
            >
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" v-if="!userLogged.full_name">
            <router-link to="login" class="btn btn-success"
              >Iniciar sesión</router-link
            >
          </li>
          <li class="nav-item" v-if="!userLogged.full_name">
            <router-link to="register" class="btn btn-dark"
              >Registrarse</router-link
            >
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" v-if="userLogged.full_name">
            <a v-on:click="logout" class="btn btn-danger">Salir</a>
          </li>
        </ul>
      </div>
    </div>
    <!--button v-on:click="test">{{admin}}</button-->
  </nav>
</template>

<script>
//import { mapGetters } from "vuex";
import shared from "../shared";

export default {
  name: "Nav",
  data() {
    return {
      userLogged: {
        full_name: "",
        admin: 0,
      },
    };
  },
  methods: {
    async logout() {
      try {
        await this.addLog(
          "user",
          `logout from ${this.userLogged.full_name}`,
          this.userLogged.id
        );
        this.userLogged = {};
        localStorage.removeItem("token");
        this.$router.push("/login");
      } catch {
        console.log("lost connection");
      }
      /*this.$store.dispatch("user", "");
      this.$store.dispatch("admin", false);*/
    },
  },
  created() {
    this.addLog = shared.addLog;
    this.userLogged = shared.userLogged(localStorage.getItem("token"));
  },
  /*computed: {
    ...mapGetters(["admin"]),
    ...mapGetters(["user"]),
    ...mapGetters(["id"]),
  },*/
};
</script>
