<template>
  <div class="card" style="width: 28rem" id="contenedor_centrado">
    <div class="card-body">
      <h5 class="card-title">Nuevo usuario</h5>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Usuario</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="20"
          v-model="user.username"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Nombres</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="50"
          v-model="user.first_name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Apellidos</span
        >
        <input
          type="text"
          class="form-control"
          maxlength="50"
          v-model="user.last_name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Password</span
        >
        <input
          type="password"
          class="form-control"
          maxlength="20"
          v-model="user.password"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Confirmar password</span
        >
        <input
          type="password"
          class="form-control"
          maxlength="20"
          v-model="user.password_confirmation"
        />
      </div>
      <a href="#" class="btn btn-success" v-on:click="register">Validar</a>
      <a href="#" class="btn btn-danger" v-on:click="cancel">Cancelar</a>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Register",
  data() {
    return {
      user: {
        username: "ortega",
        first_name: "Luis",
        last_name: "Ortega",
        password: "abc123.",
        password_confirmation: "abc123",
        admin: false,
      },
    };
  },
  methods: {
    register: async function () {
      if (this.user.username && this.user.first_name && this.user.last_name && this.user.password) {
        if (this.user.password === this.user.password_confirmation) {
          console.log(this.user)
          await axios
            .post("user/signup", this.user)
            .then((/*res*/) => {
              //console.log(res);
              Swal.fire({
                icon: "success",
                title: "Usuario creado",
                showConfirmButton: false,
                timer: 1500,
              });
              this.$router.push("/login");
            })
            .catch(() => {
              Swal.fire({
                icon: "error",
                title: "Error",
                text: "Nombre de usuario ya utlizado",
              });
            });
        } else {
          Swal.fire({
            icon: "error",
            title: "Error",
            text: "Password no coincide",
          });
        }
      }
    },
    cancel: function () {
      this.user = {}
    },
  },
};
</script>

<style>
.card-title {
  text-align: center;
}

body{
  background-image: url("https://www.santander.com.ar/banco/wcm/connect/b38dc9fc-7089-4146-afcd-f6af82affcf8/glosario-de-gestion-de-proyectos_wf30_centrales_488x330.jpg?MOD=AJPERES&CACHEID=b38dc9fc-7089-4146-afcd-f6af82affcf8");
  background-size:  1365px 650px;
}

#contenedor_centrado {

position:absolute;
top: 50%;
left: 65%;
height:300px;
width:700px;
margin-top:-100px; margin-left:-300px; 
}

.btn {
  margin: 10px;
}
</style>