<template>
  <div>
    <!--register user="u" v-if="hide"></register-->
    <table class="table table-dark"  v-if="userLogged">
      <thead>
        <tr class=table-active>
          <th scope="col">Usuario</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Administrador</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index">
          <td>{{user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            <a href="#" v-on:click="updatePermissions(user.id, user.admin, user.username)">
              <svg
                v-if="user.admin"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-check2-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"
                />
                <path
                  d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"
                />
              </svg>
            </a>
            <a href="#" v-on:click="updatePermissions(user.id, user.admin, user.username)">
              <svg
                v-if="!user.admin"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                />
              </svg>
            </a>
          </td>
          <td>
            <router-link :to="'user/' + user.id">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pen"
                viewBox="0 0 16 16"
              >
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                />
              </svg>
            </router-link>
            |
            <a href="#" v-on:click="deleteUser(user.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!--h3>{{ users }}</h3-->
  </div>
</template>

<script>
//import { mapGetters } from "vuex";
import axios from "axios";
import shared from "../shared";
import Swal from "sweetalert2";

export default {
  name: "Users",
  data() {
    return {
      users: "",
      userToEdit: {},
      userLogged: {}
    };
  },
  async created() {null
    this.userLogged = shared.userLogged(localStorage.getItem("token"));
    if (this.userLogged) {
      const response = await axios.get("user/all");
      this.users = response.data;
    } else {
      console.log("logout")
    }
    this.addLog = shared.addLog; 
  },
  /*computed: {
    ...mapGetters(["admin"]),
  },*/
  methods: {
    //async getUsers() {},
    /*async editUser(id_user) {
      let position = this.users.findIndex((i) => i.id === id_user);
      this.user = this.users[position];
      //this.hide = !this.hide;

      console.log(this.user);
    },*/
    async deleteUser(id_user) {
      let position = this.users.findIndex((i) => i.id === id_user);
      let user = this.users[position];
      console.log(user)
      Swal.fire({
        text: "¿Realmente desea borrar el usuario " + user.username + " ?",
        showCancelButton: true,
        confirmButtonText: `Eliminar`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          //Swal.fire("Saved!", "", "success");
          //const response =
          axios.delete("user/" + user.id);
          this.addLog("user", `${user.username} deleted`, this.userLogged.id)
          this.users.splice(position, 1);
        }
      });
    },
    async updatePermissions(id, admin, username) {
      //console.log(id + "   " + admin);
      try {
        //const results =
        await axios.put("user/updatePermissions", { id, admin: !admin });
        this.addLog("user", !admin ? `${username} is admin` : `${username} is not admin`, this.userLogged.id)
        let user = this.users.find((u) => u.id == id);
        user["admin"] = !admin;
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>