<template>
  <div id="app">
    <Nav/>
    <router-view />
    
  </div>
</template>

<script>
import Nav from './components/Nav'
//import axios from 'axios'
//import shared from "./shared";

export default {
  name: "App",
  components: {
    Nav
  },
  //async created() {
    //const res = await axios.get("user");

    //this.userLogged = shared.userLogged(localStorage.getItem("token"));   

    //this.$store.dispatch('user', res.data);
  //},
};
</script>

<style>
.navbar {
   background-image:  url("https://www.defondos.com/images/wallpapers/vintage%20madera%20background%20wood%20wallpaper%20(61)-718948_800.jpeg");
}

.nav-link {
  color: #ffffff;
}

</style>
